@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


.typingFont {
  border-right: solid 3px rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 24px;
 margin: auto;
} 
.activeName {
  color: #fe4066;
  font-size: 25px;
}

/* Animation */
.typingText {
  animation: animated-text 2s steps(29,end) .1s 1 normal both,
             animated-cursor 1000ms steps(29,end) infinite;
       
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 355px;}

}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(255, 255, 255, 0.75);}
  to{border-right-color: transparent;
  }
}
